<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clínica Salud Integral</title>
    <link rel="stylesheet" href="/css/styles.head.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles.pacientes.css">
    <link rel="stylesheet" href="/css/styles.tablapacientes.css">
    <link rel="stylesheet" href="/css/styles.turnos.css">
</head>