<%- include ('partials/header') %>
<body>
    <h1>Bienvenido a Clínica Salud Integral</h1>
    <nav>
        <a href="/turnos">Turnos</a> |
        <a href="/pacientes">Pacientes</a>
    </nav>
</body>
</html>
